{
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "production": {
      "plugins": [
        "closure-elimination"
      ]
    }
  },
  "plugins": [
    "lodash",
    "transform-class-properties",
    "extensible-destructuring" ,
    [ "module-resolver", {
      "root": ["./src", "./lib"],
      "alias": {
        "test": "./test"
      }
    }]
  ],
  "presets": [
    "stage-0",
    [
      "env",
      {
        "targets": {
          "node": 6
        }
      }
    ]
  ]
}
